.footer {
  // border-top: 1px solid var(--color-yellow);
  background: var(--color-yellow);
  color: var(--color-cream);
  font-size: 1.4rem;
  color: var(--color-blue);
  font-family: var(--font-anton), Impact, sans-serif;
  padding: 0 12rem;
 

}

.inner {
  display: flex;
  // width: min(var(--content-width), calc(100% - (var(--page-gutter) * 2)));
  
  min-height: 230px;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  margin-inline: auto;
}
.txtBox{
  display: flex;
  flex-direction: column;
}
.inner a {
  color: var(--color-yellow);
}
.inner p {
  font-size: 1rem;
}

@media (max-width: 375px){
.footer {
  // border-top: 1px solid var(--color-yellow);
  background: var(--color-yellow);
  color: var(--color-cream);
  font-size: 0.8rem;
  color: var(--color-blue);
  font-family: var(--font-anton), Impact, sans-serif;
  padding: 0 2rem;
 

}

.inner {
  display: flex;
  // width: min(var(--content-width), calc(100% - (var(--page-gutter) * 2)));
  
  min-height: 200px;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
   flex-direction: column;
}
.txtBox{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.inner a {
  color: var(--color-yellow);
}
.inner p {
  font-size: 1rem;
}
}
